<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor='let product of products'>
      <div class="product" (click)="viewDetails(product)">
        <img [src]="product.images[0].src">
        <div class="product-info" style="float:right">
          <h2>{{ product.slug }}</h2>
          <p>Price: ${{ product.price }}</p>
          <p *ngIf="product.categories.length > 0">Category: {{ product.categories[0].slug }}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
