.my-cart
  ion-content
    ion-list
      ion-item
        img
          display: inline-block
          padding-top: 15px
          width: 30%
        .product-info
          display: inline-block
          padding: 10px
          width: 50%
        .number
          display: inline-block
          width: 30%
