.my-cart
  ion-content
    ion-list
      ion-item
        img
          display: inline-block
          padding-top: 15px
          width: 30%
        .product-info
          display: inline-block
          padding: 10px
          width: 50%
        .number
          display: inline-block
          width: 30%
      .float-button
        background-color: #fff
        position: fixed
        width: 100%
        bottom: 0
        button
          display: inline-block
          border-radius: 0px
          width: 100%
          padding: 0em
          margin: 0
        .add
          background-color: #179e5d
