store-dets
  ion-row
    img
      margin : auto
      padding-top: 10px
    p
      text-align: center
      font-size: medium
      padding-top: 15px
    button
      margin-top:  3vh
    ion-card#store-info
      padding: 0px 15px
      span
        padding: 10px 0px 15px 0px
        box-sizing: padding-box
        font-size: 1.2em
        ion-icon
          padding-right: 5px
